body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;

    margin: 50px auto;
    padding: 20px 20px 30px;

    background-color: #1d1d1d;
    color: white;
    border-radius: 5px;

    width: 97.5%;
}

.icon-weather {
    width: 100px;
    height: 100px;
}

.infos-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 70vw;
}

.class-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}